Filename OR Directory       |       User

control                     |       aafrikya
Makefile                    |       aafrikya

DIR includes
libft.h                     |       aafrikya
minshell.h                  |       aafrikya
parsing.h                   |       sogabrie
struct.h                    |       sogabrie

Dir errors
errors_print_sintexs.c      |       sogabrie
errors.c                    |       aafrikya

DIR here_doc
del_file.c                  |       aafrikya 
here_doc.c                  |       aafrikya   
redirect_input.c            |       sogabrie
redirect_output_append.c    |       sogabrie
redirect_output.c           |       sogabrie

Dir main
minshell.c                  |       sogabrie

Dir	make_exe
make_exe.c 					|		sogabrie

Dir memory
free_struct.c               |       sogabrie
free.c                      |       aafrikya

Dir my_exe
ft_cd.c                     |       aafrikya
ft_echo.c                   |       aafrikya
ft_env.c                    |       aafrikya
ft_exit.c                   |       aafrikya
ft_export                   |       aafrikya
ft_pwd                      |       aafrikya
ft_unset                    |       aafrikya
widldcards.c                |       aafrikya

Dir parsing
check_metacharacters.c      |       sogabrie
check_parenthesis.c         |       sogabrie
control_parsing.c           |       sogabrie
control_close_fd.c			|		sogabrie
creat_main_struct.c         |       sogabrie
creat_my_exe.c              |       sogabrie
delimiter.c                 |       sogabrie
initialization.c            |       sogabrie
pars_env_and_access.c       |       sogabrie
pars_quote_cont.c           |       sogabrie
pars_quote.c                |       sogabrie
parsing.c                   |       sogabrie

Dir utils
cd_utils.c                  |       aafrikya
echo_utils.c 				|		aafrikya
export_utils.c              |       aafrikya
ft_utils.c                  |       aafrikya
pars_quote_utils.c          |       sogabrie
pars_utils.c                |       sogabrie
replace_envp.c              |       aafrikya
unset_utils.c               |       aafrikya
utils_pid.c 				|		sogabrie
widldcards_utils.c          |       aafrikya
