Filename    		|		User

struct.h			|		sogabrie
Makefile			|		aafrikya
replace_envp.c		|		aafrikya
minishell.h         |       aafrikya
minishell.c         |       sogabrie
parsing.c           |       sogabrie
pars_quote.c        |       sogabrie
here_doc.c          |       aafrikya
wildcards.c         |       aafrikya
parsing.h           |       sogabrie
pars_quote_cont.c   |       sogabrie
ft_echo             |       sogabrie
